/*Fonts*/

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

#map {	
	margin-top: 7%;
        height: 400px;
        width: 100%;
       }


/* Other Section */


.eight-section {
    background-image: url('../img/image-bg-1-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0px;
}
.eight-section h4 {
    color: #29abe2;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Montserrat';
}
.eight-section hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #29abe2;
    margin: 1em 0;
    padding: 0;
}
.eight-section p {
    color: white;
    font-size: 18px;
}
.eight-section-i input {
    width: 100%;
    background: white;
    border: solid 2px white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.eight-section-i input: active {
    outline: none;
}
.eight-section-i input: focus {
    outline: none;
}
.eight-section-i textarea {
    width: 100%;
    background: white;
    border: solid 2px white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    resize: vertical;
}
.eight-section-i textarea: active {
    outline: none;
}
.eight-section-i textarea: focus {
    outline: none;
}
.eight-section-i button {
    background-color: transparent;
    border: solid 2px white;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    transition: all ease-in-out 0.4s;
}
.eight-section-i button:hover {
    background-color: #29abe2;
    color: white;
    border-color: #29abe2;
}
