/*Fonts*/

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.no-padding {
    padding: 0px;
}

/*Header Section*/

.header-section {
	background-image: url('../img/header-backgorund-image-01.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 6%;
}
.header-caption-a {
	padding: 100px 20px;
}
.header-caption-a hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid white;
    margin: 1em 0;
    padding: 0;
    width: 10%;
}
.header-caption-a h2 {
	color: white;
	font-family: 'Montserrat';
	margin: 10px 0px;
}


/*Lastest News*/
/*Sixth Section*/

.sixth-section {
    padding: 100px 0px;
}
.sixth-section h4 {
    color: #29abe2;
    font-size: 30px;
    font-family: 'Montserrat';
    text-align: center;
}
.sixth-section hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #29abe2;
    padding: 0;
}
.sixth-section p {
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 30px;
}
.seth-section-s {
	margin-top: 30px;
}
.seth-section-s img {
    width: 100%;
}
.sep-section {
    background-image: url('../img/sep-bg-01.png');
    background-size: cover;
}
.sep-section h5 {
    margin: 0px;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
/*.seth-section-s h4 {
	text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #29abe2;
}*/
.seth-section-s p{	
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 30px;
}
.seth-section-s button {
    margin-top: 20px;
    border: solid 2px #29abe2;
    background: transparent;
    padding: 8px 20px;
    color: #29abe2;
    font-weight: bold;
    transition: all ease-in-out 0.4s;
}
.seth-section-s button:hover {
    background-color: #29abe2;
    color: white;
    border-color: #29abe2;
}



/*Last Section "FIFTH" */
/*Fifth section*/

.fifth-section {
    background: #272f34;
}
.fifth-text-grid {
    padding: 120px 50px;
}
.fifth-section button {
    border: solid 2px #29abe2;
    color: #29abe2;
    font-family: 'Montserrat';
    font-weight: bold;
    background: transparent;
    padding: 10px 30px;
    transition: all ease-in-out 0.4s;
}
.fifth-section button:hover {
    background-color: #29abe2;
    color: white;
    border-color: #29abe2;
}
.fifth-section h4 {
    color: white;
}
.fifth-section p {
    font-size: 20px;
    color: #939598;
}

.fifth-section img {
	width: 100%;
}
