/*Fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
 }



footer {
	background-image: url('../img/footer-bg-01.png');
	padding: 30px 0px 20px;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-copy-r {
	color: white;
}

.footer-social_media {
	text-align: right;
	color: #29abe2;
	font-size: 25px;
}
.footer-social_media i {
	padding: 0px 30px;
}